<nav class="nav">
    <div class="left">
        <img src="./icon/android-chrome-512x512.png" width=50 height=50 alt="Currency Converter">
        <h4>Currency Coverter</h4>
    </div>
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./news">News</a></li>
        <li><a href="./contact">Contact</a></li>
        <li><a href="./about">About</a></li>
    </ul>
</nav>