<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Coverter - News</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./icon/favicon-16x16.png">
    <link rel="manifest" href="./icon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- <link rel="stylesheet" href="./materialize/css/materialize.min.css"> -->
    <link rel="stylesheet" href="./style/news.css">
    <!-- <script defer src="./materialize/js/materialize.min.js"></script> -->
    <script defer src="./js/base.js"></script>
</head>
<body>
    <div class="beforeload">
      <div class="circle"></div>
    </div>
    <div class="afterload">
    <%- include("navigation") %>
    <div class="container news">
    </div>
    </div>
    <script>
        window.addEventListener("load", () => {
            fetch("http://newsapi.org/v2/top-headlines?country=us&pagesize=20&apiKey=e0bbe9ba08eb46aaa8d1e65ece90c64f")
            .then((res) => res.json())
            .then((data) => {
                data["articles"].forEach((news) => {
                    if(news["urlToImage"] != null) {
                        const div = document.createElement("div");
                        div.setAttribute("class", "news-card");
                        div.addEventListener("click", () => {
                            location.href = news["url"];
                        })
                        div.setAttribute("data-url", news["url"]);
                        div.innerHTML = `
                        <div>
                            <img src="${news["urlToImage"]}" style="object-fit: cover" width=100 height=100 alt="">
                        </div>
                        <div>
                            <p>${news["description"]}</p>
                            <span style="float: right; font-size: .8rem; padding: 1rem 2rem">
                                Published on ${news["publishedAt"]}
                            </span>
                        </div>
                        `;
                        document.querySelector(".news").appendChild(div);
                    }
                });
            }).catch((e) => {
                console.log(e);
            })
        })
    </script>
</body>
</html>